---
name: CI

on:
    push:
        branches:
            - main
            - master
    pull_request:
        branches:
            - main
            - master

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                  python-version: "3.13"

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install ansible-lint ansible

            - name: Run ansible-lint
              run: ansible-lint

            - name: Syntax check playbooks
              run: |
                  ansible-playbook playbook-install.yml --syntax-check
                  ansible-playbook playbook-uninstall.yml --syntax-check
